<nav class="top-nav">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">{{ title }}</a>
    </div>
  </div>
  <a href="#/myInfo" ng-if="title != 'Personal Profile'" class="rotate">
    <i class="fa fa-user" aria-hidden="true"></i>
  </a>
  <a href="javascript:void(0);" ng-click="logout();" ng-if="title == 'Personal Profile'" class="rotate">
    <i class="fa fa-sign-out" aria-hidden="true"></i>
  </a>
  <div>
    <a href="#" data-activates="slide-out" class="button-collapse rotate">
      <i class="material-icons">menu</i>
    </a>
  </div>
</nav>
