a.button-collapse.top-nav {
  position: absolute;
  text-align: center;
  height: 48px;
  width: 48px;
  float: none;
  font-size: 36px;
  z-index: 2;
  color: #fff;
}

.top-nav .brand-logo {
  font-size: 2em;
}

.top-nav .fa-user {
  font-size: 2em;
  margin-top: .6em;
  margin-right: .6em;
  float: right;
  margin-bottom: -.6em;
}

#slide-out {
  width: 70%;
}