@font-face {
  font-family: 'sfsportsclub';
  src: url('../font/sfsportsclub.eot?98516857');
  src: url('../font/sfsportsclub.eot?98516857#iefix') format('embedded-opentype'),
       url('../font/sfsportsclub.woff2?98516857') format('woff2'),
       url('../font/sfsportsclub.woff?98516857') format('woff'),
       url('../font/sfsportsclub.ttf?98516857') format('truetype'),
       url('../font/sfsportsclub.svg?98516857#sfsportsclub') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'sfsportsclub';
    src: url('../font/sfsportsclub.svg?98516857#sfsportsclub') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "sfsportsclub";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-stamina:before { content: '\e800'; } /* '' */
.icon-skill:before { content: '\e801'; } /* '' */
.icon-strength:before { content: '\e802'; } /* '' */
.icon-defend:before { content: '\e803'; } /* '' */
.icon-attack:before { content: '\e804'; } /* '' */
.icon-speed:before { content: '\e805'; } /* '' */
.icon-badminton:before { content: '\e806'; } /* '' */
.icon-basketball:before { content: '\e807'; } /* '' */
.icon-bicycle:before { content: '\e808'; } /* '' */
.icon-boardgame:before { content: '\e809'; } /* '' */
.icon-car:before { content: '\e80a'; } /* '' */
.icon-dance:before { content: '\e80b'; } /* '' */
.icon-door:before { content: '\e80c'; } /* '' */
.icon-soccer:before { content: '\e80d'; } /* '' */
.icon-swimming:before { content: '\e80e'; } /* '' */
.icon-tabletennis:before { content: '\e80f'; } /* '' */
.icon-tennis:before { content: '\e810'; } /* '' */
.icon-yoga:before { content: '\e811'; } /* '' */